@import '~@ng-select/ng-select/themes/default.theme.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  outline: none;
}
